@model IEnumerable<Snow_System.BankingDetail>
<h2 class="pageHeading">Administration</h2>
<hr />

@*<div class="jumbotron">
    <a href="@Url.Action("ExportData","Export")"><span class="glyphicon glyphicon-export"></span> <br />Export Data</a>
    <a href="@Url.Action("Index","EmployeeType")"<span class="glyphicon glyphicon-user"></span> <br />Employee Type</a>
    <a href="@Url.Action("Index","ProductType")"><span class="glyphicon glyphicon-asterisk"></span> <br />Product Type</a>
    <a href="@Url.Action("Index","VAT")"><span class="glyphicon glyphicon-certificate"></span> <br />VAT</a>
    <a href="@Url.Action("AddorEdit","BankingDetail")"><span class="glyphicon glyphicon-edit"></span> <br />Update Banking Details</a>



    <div class="btn-admin btn btn-primary"><span class="glyphicon glyphicon-file"></span> <br />Generate And Email Certificate</div>
</div>*@



@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Web API CRUD', 'Are you sure you want to delete this record?',function () {
                window.location.href = '@Url.Action("Delete","BankingDetail")/' + id;
            }, null);
        }
    </script>
}
<div>
    <a href="@Url.Action("ExportData","Export")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-export"></span> <br />Export Data</a>
    <a href="@Url.Action("Index","EmployeeType")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-user"></span> <br />Employee Type</a>
    <a href="@Url.Action("Index","ProductType")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-asterisk"></span> <br />Product Type</a>
    <a href="@Url.Action("Index","VAT")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-certificate"></span> <br />VAT</a>
    <a href="@Url.Action("Index", "AuditLog")" class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-list-alt"></span> <br />Audit Log</a>
    <div class="btn-admin btn btn-outline-primary"><span class="glyphicon glyphicon-file"></span> <br />Generate And Email Certificate</div>
</div>

