@model IEnumerable<Snow_System.Product>


<h1 class="page-header pageHeading" style="text-align:center;">Service Information</h1>
<br />

<div class="TopInfoContainer">
    <div class="TopInfoLeft">
        <label for="ordID">Order ID:</label> <span name="ordID"> 000001</span><br />
        <label for="datePlaced">Date placed:</label> <span name="datePlaced">2019/08/19</span><br />
        <label for="clientName">Client:</label> <span name="clientName">John cleese</span><br />
        <label for="clientnumber">Client number:</label> <span name="clientNumber">083 2145</span><br />
    </div>
    <div class="TopInfoLeft">
        <label for="orderStatus">Order Status: </label> <span name="supContactInfo">Packed</span><br />
        <label for="location">Delivery address:</label> <span name="location"> 8 Foxington Ave, Glenwood, Pretoria</span><br />
        <label for="clientEmail">Client email:</label> <a href="mailto: orders@firesupplier.co.za" name="clientEmail"> cleeseentertainment@gmail.com</a>
    </div>
</div>

<br />
<br />

<table class="table table-hover">
    <tr class="table-primary">
        <th>Item ID</th>
        <th>Item Type</th>
        <th>Workdone</th>
        <th>Item Replaced</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
        </tr>
    }
    <br />
    <div id="cartendingcontainer">
        <div id="cartending">
            <div class="cartrundownleft">Delivery Fee:</div>
            <div class="cartrundownright">R50</div>
            <div class="cartrundownleft">VAT:</div>
            <div class="cartrundownright">15%</div>
            <div class="cartrundownleft">VAT amount:</div>
            <div class="cartrundownright"><span>R</span> <span class="vatamount">50.00</span></div>
            <div class="cartrundownleft">Total:</div>
            <div class="cartrundownright"><span>R</span> <span class="totalamount">250.00</span></div>
        </div>
    </div>
    <br />
    <br />
    <div class="OptionButton ContinueBtn btn btn-warning" style="float:right"><span class="glyphicon glyphicon-star"></span><br />Rate Service</div>
    <div class="OptionButton ContinueBtn btn btn-warning" style="float:right; margin-right: 5px;"><span class="glyphicon glyphicon-bookmark"></span><br />Lodge Complaint</div>
    <div class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-chevron-left"></span> <br />Back</div>
