@model IEnumerable<Snow_System.Delivery>

<h1 class="page-header pageHeading" style="text-align:center;">Deliveries</h1>
<hr />
@*<div style="text-align:center;" class="form-group">
    <input type="search" placeholder="Search supplier" style="width:80%;" class="form-control" />
    <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
</div>
<br />*@
<div style="text-align:center;">
    <p>

        @using (@Html.BeginForm("Index", "Delivery", FormMethod.Get))
        {
            <b>Search By Status:</b>
            <br />
            @Html.TextBox("search") <input class="btn btn-primary" type="submit" value="Search" />
            <a href="@Url.Action("Index","Delivery")" class="ActionButton ContinueBtn"><span class="glyphicon glyphicon-refresh"> </span>Refresh</a>
        }

    </p>
</div>

<table id="SearchTable" class="table table-hover">
    <tr class="table-primary">
        <th>
            Order Number
        </th>

        <th>
            Number Of Products
        </th>
        <th>
            Status
        </th>
        <th>
            Date of Delivery
        </th>
        <th>Actions</th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                No records match search criteria
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductOrderID)
                </td>
                <td>
                    @item.DeliveryLines.Count()
                </td>
                <td>
                    @item.DeliveryStatu.Description
                </td>
                @if (item.DeliveryStatusID == 2)
                {
                    <td>
                        @string.Format("{0:dd MMMM yyyy } ", item.DateOfDelivery)
                    </td>
                }
                else
                {
                    <td>
                        Not Delivered
                    </td>
                }
                <td>
                    <a style="text-decoration: none; color:greenyellow;" href="@Url.Action("AssignDelivery", "Delivery", new {id = item.DeliveryID })" class="glyphicon glyphicon glyphicon-flag">Assign</a>
                </td>
            </tr>
        }
    }
</table>
<br />
<br />
<br />
