@model Snow_System.SupplierOrder

@{
    ViewBag.Title = "Make supplier order";
}

<script>
    console.log(@Model.SupplierOrderID);
    @foreach(var lnes in Model.SupplierOrderLines)
    {
        @:console.log(@lnes);
    }
</script>
<h1 class="page-header pageHeading" style="text-align:center;">Make a Supplier Order</h1>
<div class="TopInfoContainer">
    <h2 class="SectionHeading">Supplier Information</h2>
    <div class="TopInfoLeft" style="width:50%; float: left;">
        <label for="supID">Supplier ID:</label> <span name="supID"> @Model.Supplier.SupplierID</span><br />
        <label for="supName">Supplier Name:</label> <span name="supName"> @Model.Supplier.SupplierName</span><br />
    </div>
    <div>
        <label for="supContactInfo">Supplier Contact Number:</label> <span name="supContactInfo">@Model.Supplier.ContactNumber</span><br />
        <label for="supEmail">Supplier Email:</label> <a href="mailto: @Model.Supplier.EmailAddress" name="supEmail"> @Model.Supplier.EmailAddress</a>
    </div>
</div>
<br />


<br />
@if (@ViewBag.Status != "Delivered")
{
    using (Html.BeginForm("AddToList", "Supplier"))
    {
        <div style=" text-align:center; border: solid 2px #DF691A; padding-bottom: 2%;">
            <h2 style="padding-top: 1%;">Select Product</h2>
            <div style="padding-top: 1%; padding-bottom: 1%;">
                <div style="padding-left: 4%; padding-right: 4%; display:inline-block; ">
                    <label style="margin-right: 2%;">Product: </label>
                    <select class="custom-select btn-primary" name="Product">
                        @foreach (var prod in ViewBag.products)
                        {
                            <option value="@prod.ProductID">@prod.Name</option>
                        }
                    </select>
                </div>
                <div style="padding-left: 4%; padding-right: 4%; display:inline-block; ">
                    <label style="margin-right: 2%;">Quantity: </label>
                    <input name="Quantity" type="number" min="1" placeholder="Quantity" value="1" />
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add to Order</button>
            <br />
        </div>
    }
}
@if (Model.SupplierOrderLines.Count > 0)
{
    <h2 style="padding-top:2%;" class="SectionHeading">Products List</h2>
    <br />
    <table class="table">
        <tr class="table-primary">
            <th>
                Product Name
            </th>
            <th>
                Description
            </th>
            <th>
                Product Type
            </th>
            <th>
                Quantity On Hand
            </th>
            <th>
                Amount To Order
            </th>
            <th>
                @if (Model.SupplierOrderLines.Count() > 1)
                {
                <a href="@Url.Action("RemoveAll", "Supplier")" class="remove-icon glyphicon glyphicon-remove-sign" style="color:red; text-decoration: none; margin-right: 3%;"></a>
                }
            </th>
        </tr>
        <tbody>
            @foreach (var item in Model.SupplierOrderLines)
                {
                <tr class="table-dark" style="cursor:default;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Dscription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductType.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.QuantityOnHand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityOrdered)
                    </td>
                    <td>
                        <a href="@Url.Action("Remove", "Supplier", new { id = item.ProductID })" class="remove-icon glyphicon glyphicon-remove-sign" style="color:red; text-decoration: none; margin-right: 3%;"></a>
                    </td>
                </tr>
                }
        </tbody>

    </table>
    @Html.BeginForm("FinalizeOrder","Supplier"){
    <div style="text-align:center;">
        <label>Emeil Supplier?</label>
        <br />
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input onclick="setYes()" type="radio" name="options" value="Yes" id="option1" autocomplete="off" checked=""> Yes
            </label>
            <label class="btn btn-primary">
                <input onclick="setNo()" type="radio" name="options" value="No" id="option2" autocomplete="off"> No
            </label>
        </div>
    </div>
    <button type="submit" class="OptionButton ContinueBtn btn btn-success" style="float:right;"><span class="glyphicon glyphicon-ok-circle"></span> <br />Make Supplier Order</button>

<a href="@Url.Action("Index", "Supplier")" class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-remove-circle"></span> <br />Cancel</a>

<div id="MakeOrder" class="modal animate-opacity">
    <div class="modal-content modal-background">
        <header class="">
            <h2>Confirm Order</h2>
        </header>
        <hr style="margin:0;" />
        <div style="text-align:center; font-size:500%"><span class="glyphicon glyphicon-info-sign" style="margin-top:3%;"></span></div>
        <div class="">
            <p>Are you sure you want to make this order?</p>
        </div>
        <hr style="margin:0;" />
        <footer class="" style="">
            <button onclick="document.getElementById('MakeOrder').style.display='none'" class="btn btn-outline-danger" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-remove-circle"></span><br />No</button>
            <a class="btn btn-outline-success" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-ok-circle"></span><br />Yes</a>
        </footer>
    </div>
</div>
    }
}
