@model Snow_System.SupplierOrder


@{
    ViewBag.Title = "Order Information";
}

<h1 class="page-header pageHeading" style="text-align:center;">Order Information</h1>
<br />

<div class="TopInfoContainer">
    <div class="TopInfoLeft">
        <label for="ordID">Order ID:</label> <span name="ordID"> @Model.SupplierOrderID</span><br />
        <label for="datePlaced">Date Placed:</label> <span name="datePlaced">@string.Format("{0:dd MMMM yyyy } ", Model.OrderDate)</span><br />
        <label for="clientName">Supplier:</label> <span name="clientName">@Model.Supplier.SupplierName</span><br />
    </div>
    <div class="TopInfoLeft">
        <label for="orderStatus">Order Status: </label> <span name="supContactInfo">@Model.SupplierStatu.Description</span><br />
        <label for="clientEmail">Supplier Email:</label> <a href='mailto: @Model.Supplier.EmailAddress' name="clientEmail"> @Model.Supplier.EmailAddress</a><br />
        <label for="clientnumber">Suupplier Number:</label> <span name="clientNumber">@Model.Supplier.ContactNumber</span><br />
    </div>
</div>

<br />
<br />

<div class="cartheadings">
    <div class="cartitempiece cartiteminfo">
        <span>Product information</span>
    </div>
    <div class="cartitempiece cartitemqty">
        <span>Quantity <br />(Recieved/ Ordered)</span>
    </div>
    <div class="cartitempiece cartitemsub">
        <span class="subtotal">Subtotal</span>
    </div>
</div>
<hr />
@foreach (var item in Model.SupplierOrderLines)
{
    double sub = 0;
    sub = item.QuantityReceived * item.Product.SellingPrice;
    <div class="cartitem">
        <div class="cartitempiece cartiteminfo">
            <p>@item.Product.Name</p>
            @if (Model.SupplierStatusID == 3 || Model.SupplierStatusID == 4 || Model.SupplierStatusID == 5)
            {
                <p>@item.ProductPrice.ToString("C2")</p>

            }
        </div>
        <div class="cartitempiece cartitemqty">
            <p>@item.QuantityReceived/ @item.QuantityOrdered</p>
        </div>
        <div class="cartitempiece cartitemsub">
            <p class="subtotal">@sub.ToString("C2")</p>
        </div>
    </div>
    <hr />
}

@{
    double total = 0;
    foreach (var item in Model.SupplierOrderLines)
    {
        total += item.ProductPrice * item.QuantityReceived;
    }
    double vat = total * (ViewBag.VAT / 100);
    double subtotal = total - vat;
}
<br />
@if (Model.SupplierStatusID == 3 || Model.SupplierStatusID == 4 || Model.SupplierStatusID == 5)
{
    <div id="cartendingcontainer">
        <div id="cartending">
            <div class="cartrundownleft">Subtotal:</div>
            <div class="cartrundownright"><span class="totalamount">@subtotal.ToString("C2")</span></div>
            <div class="cartrundownleft">VAT (@ViewBag.VAT %):</div>
            <div class="cartrundownright"><span class="vatamount">@vat.ToString("C2")</span></div>
            <div class="cartrundownleft">Total:</div>
            <div class="cartrundownright"><span class="totalamount">@total.ToString("C2")</span></div>
        </div>
    </div>
}
<br />
<br />
@if (Model.SupplierStatusID == 6)
{
    <a href="@Url.Action("TakeInSupplierOrder","Supplier", item.SupplierOrderID)" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span> Take in Stock</a>
    <div onclick="document.getElementById('CancelModal').style.display='block'" class="OptionButton ContinueBtn btn btn-warning" style="float:right"><span class="glyphicon glyphicon-remove-sign"></span><br />Cancel Order</div>
}
else if (Model.SupplierStatusID == 3)
{
    <div onclick="document.getElementById('ReturnOrderModal').style.display='block'" class="OptionButton ContinueBtn btn btn-warning" style="float:right; margin-right: 5px;"><span class="glyphicon glyphicon-share-alt icon-flipped"></span><br />Return Order</div>
}
<a href="@Url.Action("SearchSupplierOrder","Supplier", new { id = Model.SupplierOrderID } )" class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-chevron-left"></span> <br />View All Orders</a>

<div id="CancelModal" class="modal animate-opacity">
    <div class="modal-content modal-background">
        <header class="">
            <h2>Confirm Cancellation</h2>
        </header>
        <hr style="margin:0;" />
        <div style="text-align:center; font-size:500%"><span class="glyphicon glyphicon-info-sign" style="margin-top:3%;"></span></div>
        <div class="">
            <p>Are you sure you want to cancel this order?</p>
        </div>
        <hr style="margin:0;" />
        <footer class="" style="">
            <div href="" onclick="document.getElementById('CancelModal').style.display='none'" class="btn btn-outline-danger" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-remove-circle"></span><br />No</div>
            <a href="@Url.Action("UpdatingStatus", "Supplier" , new { id = @Model.SupplierOrderID, sid = 4})" class="btn btn-outline-success" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-ok-circle"></span><br />Yes</a>
        </footer>
    </div>
</div>

<div id="ReturnOrderModal" class="modal animate-opacity">
    <div class="modal-content modal-background">
        <header class="">
            <h2>Confirm Return</h2>
        </header>
        <hr style="margin:0;" />
        <div style="text-align:center; font-size:500%"><span class="glyphicon glyphicon-info-sign" style="margin-top:3%;"></span></div>
        <div class="">
            <p>Are you sure you want to return this order?</p>
        </div>
        <hr style="margin:0;" />
        <footer class="" style="">
            <div href="" onclick="document.getElementById('ReturnOrderModal').style.display='none'" class="btn btn-outline-danger" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-remove-circle"></span><br />No</div>
            <a href="@Url.Action("ReturnSupplierOrder", "Supplier" , new { id = @Model.SupplierOrderID, sid = 5})" class="btn btn-outline-success" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-ok-circle"></span><br />Yes</a>
        </footer>
    </div>
</div>

