@model IEnumerable<Snow_System.EmployeeRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceRequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-dark">
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceRequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAssigned)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
