@model Snow_System.Employee

@{
    ViewBag.Title = "AddorEdit";
}

<h2 class="pageHeading">Employee</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="CenteringContainer">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.EmployeeID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IDNumber, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.IDNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicalAddress, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PhysicalAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhysicalAddress, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Certification, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Certification, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Certification, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
            <label>Employee Type</label><br />
            <select name="EmployeeTypeID" class="custom-select" style="color:black;">
                <option>Select</option>
                @foreach (var item in Model.EmployeeTypeList)
                {
                    if (item.EmployeeTypeID == Model.EmployeeTypeID)
                    {
                        <option selected="selected" value="@item.EmployeeTypeID">@item.Description</option>
                    }
                    else
                    {
                        <option value="@item.EmployeeTypeID">@item.Description</option>
                    }
                }
            </select>
        </div>*@
            <div class="form-group">
                <label>Employee Type</label><br />
                <select name="EmployeeTypeID" class="custom-select" style="color:black;">
                    <option>Select</option>
                    @foreach (var item in Model.EmployeeTypeList)
                    {
                        if (item.EmployeeTypeID == Model.EmployeeTypeID)
                        {
                            <option selected="selected" value="@item.EmployeeTypeID">@item.Description</option>
                        }
                        else
                        {
                            <option value="@item.EmployeeTypeID">@item.Description</option>
                        }
                    }
                </select>
            </div>


            @*<div class="form-group">*@
            @**@@*Html.LabelFor(model => model.emp.EmployeeTypeID, htmlAttributes: new { @class = "control-label " })
        <div class="col-md-12">
            @Html.DropDownList("EmployeeType", "Select EMployee type")*@
            @*@Html.DropDownListFor(m => m.EmployeeType, new SelectList(ViewBag.EmployeeType,"Select Type"))*@
            @*<select id="ddlFruits" name="FruitId">
            <option value="0">Please select</option>
            @foreach (var item in (ViewBag.EmployeeType))
            {
                <option value="@item.EmployeeTypeId">@item.Description</option>
            }
        </select>*@
            @*@Html.EditorFor(model => model.EmployeeType.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EmployeeType.Description, "", new { @class = "text-danger" })*@
            @*</div>
        </div>*@
            @Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.User.UserRoleID)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>





        </div>
        <div class="form-group">

            <button onclick="document.getElementById('lodgeModal').style.display='block'" class="OptionButton ContinueBtn btn btn-success" style="float:right"><span class="glyphicon glyphicon-ok-circle"></span> <br />Add</button>
            @*<a href="1" class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-remove-circle"></span><br />Cancel</a>*@
            <a href="@Url.Action("Index","Employees")" class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-remove-circle"></span><br />Cancel</a>

        </div>


    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Web API CRUD', 'Are you sure you want to delete this record?',function () {
                window.location.href = '@Url.Action("Delete","Employees")/' + id;
            }, null);
        }
    </script>
}
