@model IEnumerable<Snow_System.ServiceRequest>

@{
    ViewBag.Title = "Index";
}

<h2 class="page-header pageHeading" style="text-align:center;">Service Requests </h2>
<hr />

<div style="text-align:center;">
    <p>

        @using (@Html.BeginForm("Index", "ServiceRequest", FormMethod.Get))
        {

            <b>Search By Business Name:</b>@Html.TextBox("search") <input class="btn btn-primary" type="submit" value="Search" />
            <a href="@Url.Action("Index","ServiceRequest")" class="ActionButton ContinueBtn"><span class="glyphicon glyphicon-refresh"> </span>Refresh</a>
        }

    </p>
</div>
<a href="@Url.Action("AddorEdit","ServiceRequest")" class="ActionButton ContinueBtn btn btn-success" style="float:left; margin-right: 2%;"> <span class="glyphicon glyphicon-plus"></span>Add New</a>





<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.ServiceRequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceRequestStatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceRequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceBookedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationID)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.IsFullDay)
        </td>
        <th>Actions</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                No records match search criteria
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceRequestID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceRequestStatu.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceRequestDate)
                </td>
                <td>
                    @if (item.ServiceBookedDate != null)
                    {
                        @Html.DisplayFor(modelItem => item.ServiceBookedDate)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.StreetAddress), @Html.DisplayFor(modelItem => item.Location.Suburb), @Html.DisplayFor(modelItem => item.Location.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsFullDay)
                </td>
                <td>
                    @if (item.ServiceRequestStatusID == 1)
                    {
                        <a href="@Url.Action("Makebooking", "Calendar", new { id = item.ServiceRequestID })" class="btn btn-info"><span class="glyphicon glyphicon-calendar"></span> Book</a>
                    }
                    else if (item.ServiceRequestStatusID == 2)
                    {
                        <a href="@Url.Action("AddorEdit", "EmployeeRequest", new { id = item.ServiceRequestID })" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> Assign</a>
                    }

                    <a href="@Url.Action("AddorEdit", "ServiceRequest", new { id = item.ServiceRequestID })" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a onclick="Delete(@item.ServiceRequestID)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    }

</table>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @try
        {
            RenderBody();
                }
        catch(Exception w) { }
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
   @try
   {
       RenderSection("Scripts", false);
   }
   catch(Exception e)
   {
   }

</body>
<script>

    $(document).ready(function () {
           var events = [];
            $.ajax({
           type: "GET",
                url: "/Booking/getDates",
                success: function (data) {
                    $.each(data, function (i, v) {
                       events.push({
                       title: v.Subject,
                            description: v.Description,
                            start: moment(v.Start),
                            end: v.End != null ? moment(v.End) : null,
                            color: v.ThemeColor,
                            allDay : v.IsFullDay
                        });
                   })

                    GenerateCalender(dates);
               },
                error: function (error) {
                   alert('failed');
               }
           })

            function GenerateCalender(dates) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
               contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                   left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                       var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                       if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                       }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                   }
               })
            }
   })

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Web API CRUD', 'Are you sure you want to delete this record?',function () {
                window.location.href = '@Url.Action("Delete","ServiceRequest")/' + id;
            }, null);
        }
</script>
}
