@model IEnumerable<Snow_System.Location>
@{
    ViewBag.Title = "Choose Address";
}

<h1 class="page-header pageHeading" style="text-align:center;">Choose Delivery Location</h1>
<hr />
@{
    int locID = 0;
}
<p style="text-align:center;">Choose the location for the delivery:</p>
@*<div id="newlocationcontainer" style="margin-bottom: 10px;">
        <span class="glyphicon glyphicon-open"></span> Pickup Delivery
    </div>*@
@foreach (var item in Model)
{

    <div class="locationitem" onclick="document.getElementById('LocaationModel').style.display = 'block'; @{locID = item.LocationID; } ">
        <div class="locationpiece locationinfo">
            <span>
                @Html.DisplayFor(modelItem => item.StreetAddress),
            </span>
            <span>
                @Html.DisplayFor(modelItem => item.Suburb),
            </span>
            <br />
            <span>
                @Html.DisplayFor(modelItem => item.City),
            </span>
            <span>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </span>
        </div>
        <div class="locationpiece contactdetails">
            <div>
                <b>Contact person details:</b>
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.ContactPersonName)
            </div>
            <div>
                @Html.DisplayFor(modelItem => item.ContactPersonNumber)
            </div>
        </div>
        <div class="locationpiece locationeditbuttoncontainer" style="width:28%;">
            <a href="@Url.Action("AddorEdit","Location", new { cid = Convert.ToInt32(Session["ClientID"]), id = item.LocationID })" class="btn btn-info"> <span class="glyphicon glyphicon-pencil"></span> Edit</a>
        </div>
        <div class="locationpiece" style="width:4%;">
            <span style="font-size:200%;" class="glyphicon glyphicon-chevron-right"></span>
        </div>
    </div>
}
<a href="@Url.Action("AddorEdit","Location", new { cid = Convert.ToInt32(Session["ClientID"])})">
    <div id="newlocationcontainer">
        <span class="glyphicon glyphicon-plus"></span> Add a new location
    </div>
</a>

<br />

<a href="@Url.Action("MakeClientOrder", "ProductOrder", new { id = Convert.ToInt32( Session["ClientID"])}) " class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; width: 120px"><span class="glyphicon glyphicon-remove-circle"></span><br />Cancel</a>

<div id="LocaationModel" class="modal animate-opacity">
    <div class="modal-content modal-background">
        <header class="">
            <h2>Choose location?</h2>
        </header>
        <hr style="margin:0;" />
        <div style="text-align:center; font-size:500%"><span class="glyphicon glyphicon-info-sign" style="margin-top:3%;"></span></div>
        <div class="">
            <p>Are you sure you want to choose this location?</p>
        </div>
        <hr style="margin:0;" />
        <footer class="" style="">
            <div href="" onclick="document.getElementById('LocaationModel').style.display='none'" class="btn btn-outline-danger" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-remove-circle"></span><br />No</div>
            <a href="@Url.Action("ChooseLocation", "ProductOrder" , new { id = locID})" onclick="" class="btn btn-outline-success" style="width:25%; margin:2%; margin-top:2%;"><span class="glyphicon glyphicon-ok-circle"></span><br />Yes</a>
        </footer>
    </div>
</div>


