@model Snow_System.Vehicle

@{
    ViewBag.Title = "AddorEdit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="CenteringContainer">
            <h4>Vehicle</h4>
            <hr />
            @Html.HiddenFor(model => model.VehicleID)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LicenseNumber, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.LicenseNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LicenseNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", id = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.VehicleTypeID, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.VehicleTypeID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VehicleTypeID, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                <label>Vehicle Type</label><br />
                <select name="VehicleTypeID" class="custom-select" style="color:black;">
                    <option>Select</option>
                    @foreach (var item in Model.VehicleTypeList)
                    {
                        if (item.VehicleTypeID == Model.VehicleTypeID)
                        {
                            <option selected="selected" value="@item.VehicleTypeID">@item.Description</option>
                        }
                        else
                        {
                            <option value="@item.VehicleTypeID">@item.Description</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">

            <button onclick="document.getElementById('lodgeModal').style.display='block'" class="OptionButton ContinueBtn btn btn-success" style="float:right"><span class="glyphicon glyphicon-ok-circle"></span> <br />Submit</button>
            <a href="@Url.Action("Index","Vehicle")" class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-remove-circle"></span><br />Cancel</a>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");

}