@model Snow_System.Equipment

@{
    ViewBag.Title = "AddorEdit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="CenteringContainer">
            @Html.HiddenFor(model => model.EquipmentID)
            <h4>Equipment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model=>model.Quantity)

            @*<div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label " })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>*@




            <p>Date: <input type="text" id="datepicker" class="form-control" name="Date" value="@Model.PurchaseDate"></p>
            

            @*<div class="form-group">
            @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-12">
                @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "datepicker"  } })
                @Html.TextBoxFor(model => model.PurchaseDate, new {htmlAttributes = new { @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })

            </div>
        </div>*@
        </div>


        <div class="form-group">

            <button onclick="document.getElementById('lodgeModal').style.display='block'" class="OptionButton ContinueBtn btn btn-success" style="float:right"><span class="glyphicon glyphicon-ok-circle"></span> <br />Add</button>
            <a href="@Url.Action("Index","Equipment")" class="OptionButton BackBtn btn btn-danger" style="position: relative; bottom: 0; left: 0; "><span class="glyphicon glyphicon-remove-circle"></span><br />Cancel</a>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(function () {
            $("#datepicker").datepicker({
                startDate: new Date()
            });
        });
     
    </script>




}